<<<<<<< HEAD
/* Header */
.head-title{
	background-color: green;
	width: 100%;
	height: 15vh;
}

/* main */

main{
	height: 70vh;
}

/* Footer */
.footer-title{
	background-color: red;
	width: 100%;
	height: 15vh;
}
=======
/** create_account **/


/** footer **/



/** header **/



/** identify **/
body{
	padding-top: 10px;
}
.header{
	background-color: #b0abab;
  	line-height: 80px;
  	text-align: center;
}
.identify{
	background-color: #5bc6c6;
	margin-top: 20px;
  	line-height: 40px;
  	text-align: center;
}
.fb{
	background-color: #776fb2;
	margin-top: 20px;
	margin-left: 38%;
	margin-right: 38%;
  	line-height: 40px;
  	text-align: center;
}
.choice{
	margin-top: 10px;
	margin-right: 20px;
  	line-height: 40px;
  	text-align: center;
		
}
.mail{
	margin-top: 10px;
	margin-right: 250px;
  	line-height: 40px;
  	text-align: center;
	
}
.ml{
	background-color: #57c421;
	margin-left: 38%;
	margin-right: 38%;
  	line-height: 40px;
  	text-align: center;
}
:required {
	border: 2px dotted black;
}
.pass{
	margin-top: 20px;
	margin-right: 250px;
  	line-height: 40px;
  	text-align: center;
	
}
.pswd{
	background-color: #57c421;
	margin-left: 38%;
	margin-right: 38%;
  	line-height: 40px;
  	text-align: center;
}
:required {
	border: 2px dotted black;
}
.connect{
	background-color: #5bc6c6;
	margin-top: 20px;
	margin-left: 38%;
	margin-right: 38%;
  	line-height: 40px;
  	text-align: center;
}
.noAccount{
	margin-left: 158px;
  	line-height: 40px;
  	text-align: center;
	
}
.footer{
	background-color: #b0abab;
  	margin-top: 10px;
  	line-height: 40px;
  	text-align: center;
}



/** visual_pool **/



/** welcome_page1 **/
body{
	padding-top: 10px;
}
.header{
	background-color: #b0abab;
	margin-top: 10px;
  	line-height: 40px;
  	text-align: center;
}
.prgp{
	margin-top: 10px;
	margin-left: 18px;
  	line-height: 40px;
  	text-align: center;
}
.pg{
	margin-top: 10px;
	margin-left: 158px;
	margin-right: 158px;
  	line-height: 40px;
  	text-align: center;
}
.btnG{
	margin-top: 10px;
	margin-left: 158px;
	margin-right: 158px;
  	line-height: 40px;
  	text-align: center;	
}
.btnD{
	margin-top: 10px;
	margin-left: 158px;
	margin-right: 158px;
  	line-height: 40px;
  	text-align: center;
}
.footer{
	background-color: #b0abab;
	margin-top: 10px;
  	line-height: 40px;
  	text-align: center;
}



/** welcome_page2 **/
>>>>>>> 8db16c6a9d5cbca071eb2d55c6d23e9164563bb6
