
/* Welcome Page 1*/
 
.title{
	font-size: 2em;
	display: flex;
}
.title-cag{
	text-align: center;
	margin-top: 0.8em;
	margin-bottom: 2em;
	color: white;
}
.rond{
	background-color: white;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	display: inline-flex;
	background: url('img/clc.jpg') center;
}
.rond span{
	color: green;
	display: flex;
	margin: auto;
}
.title-bot{
	font-size: 1em;
	display:flex;
}
.title-cag-bot{
	text-align: center;
	margin-top: 2em;
	margin-bottom: 0.8em;
	color: white;
}

/*WELCOME PAGE 2 */

body {
	background:#ddd;	
}
.form {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 10em;
}
#myCarousel {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;

}

/* VISUAL POOL*/

.dot {
	background-color: green;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	display: inline-flex;
}
.dot span{
	color: white;
	display: flex;
	margin: auto;
}

/*  HEADER */

.logo_pool {
	width: 250px;
}
.nav-link {
	font-size: 20px;
}

/* ABOUT */

.page-title {
	text-align: center;
}
.logo-go-and-live-group {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}


